<!-- <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="name" />
  <p
    *ngIf="formGroup.get('name')?.errors?.['custom'] && formGroup.get('name')?.touched"
  >
    Please enter valid name
  </p>
</form> -->

<div>
  <input type="number" (keypress)="onNameChange($event)" />
  <button (click)="increment()">Increment</button>

  <div>Current Count: {{ count$ | async }}</div>
  <div>Current Count: {{ commisionValue$ | async }}</div>

  <button (click)="decrement()">Decrement</button>

  <button (click)="reset()">Reset Counter</button>
</div>
<p #hello>Hello world</p>
<input type="text" [(ngModel)]="name" />
<app-child [data]="name">
  <h2>{{ hai }}</h2>
  <p appSample>{{ 60000 | sample }}</p>
  <p *appNot="true">Sample Structural directive</p>
</app-child>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<form>
  <mat-form-field>
    <mat-label>Number</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Number"
      matInput
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">{{
        option
      }}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
