mat-slider {
  width: 100%;
}
::ng-deep .p-rating .p-rating-icon{
  font-size: 25px !important;
}
::ng-deep .p-rating .p-rating-icon.pi-star-fill{
  color: #ffa534;
}
::ng-deep .p-rating:not(.p-disabled):not(.p-readonly) .p-rating-icon:hover{
  color: #ffa534;
}

::ng-deep .p-rating .p-rating-icon:focus{
  box-shadow: none;
}
